.shop-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.shop-container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    overflow: auto;
}
