.navigation {
    width: 100%;
    min-height: 5ch;
    background-image: url("/assets/images/svg/bg_nav.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
}

.navigation_logo {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    z-index: -1;
}

.navigation img {
    width: 10em;
    align-self: center;
    margin-top: 1em;
    position: relative;
}

.navigation-dropdown {
    width: 1%;
    height: auto;
    margin-left: auto;
    margin-right: 2em;
    position: relative;
    transition: width 0.5s ease;
}

.navigation-dropdown.open {
    width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: 2em;
    position: relative;
    transition: all 0.5s ease;
}

.navigation-profile {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    outline: 2px solid #fff;
    cursor: pointer;
}

.navigation-dropdown_list {
    width: 100%;

    background-color: red;
    position: absolute;
    margin-top: 1em;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
        visibility 0.5s;
}

.navigation-dropdown_list.open {
    min-height: 30em;
    background-color: wheat;
    position: absolute;
    margin-top: 1em;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20; /* Ensure dropdown list appears above overlay */
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.dropdown-list a {
    background-color: red;
    border: 2px solid green;
    width: 100%;

    &:last-child {
        margin-top: auto;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; /* Keep overlay behind dropdown list */
}
