.back-button {
    padding: 8px 16px;
    background-color: #fc5776;
    color: #fff;
    border: none;
    max-height: 3em;
    min-width: 6em;
    border-radius: 4px;
    margin-left: 2em;
    margin-top: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.back-button:hover {
    background-color: #d14862; /* Darker shade of #fc5776 */
}
