.cardarchive-container {
    height: 100%;
    width: 100vw;

    display: flex;

    justify-content: center;
}

.cardarchive-card {
    border: 1px solid #666666;
    border-radius: 20px;
    height: auto;
    width: 70%;
    max-width: 800px; /* Limit maximum width for larger screens */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardarchive-details_container {
    display: flex;
    width: 80%;
}

.cardarchive-details {
    align-self: flex-start;
    margin-top: 0.5em;
    margin-left: 0.5em;

    h1 {
        font-size: 2em;
    }

    span {
        font-size: 1em;
    }
}

.cardarchive-collection_container {
    height: 100%;
    display: flex;
    gap: 2em;
    margin-right: 2em;
}
