.cardenemy-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.cardenemy-card {
    width: 100%;
    height: 100%;
    background-color: var(--clr-violet_glass);
    border-radius: 20px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cardenemy-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.cardenemy-banner {
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--clr-violet);
    position: relative;

    img {
        background-color: #fff;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    button {
        position: absolute;
        display: flex;
        float: right;
        top: 0%;
        right: 0%;
    }
}

.cardenemy-details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .name,
    .total {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
    }
    span {
        color: #5e5e5e;
    }

    h1 {
        color: #000;
        background-color: #d5c2e6;
        font-size: 1.5em;

        border-radius: 0.5em;
    }

    p {
        color: #662b9a;
        background-color: #d5c2e6;
        border-radius: 0.5em;
        font-size: 1.2em;
    }
}

.cardenemy-control {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: auto;    

    :first-child {
        background-color: #ff5a79;
        color: #fff;
        border: none;
        outline: none;
        height: 1.5em;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cardenemy-words {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #5e5e5e;
    border-radius: 0.5em;
    flex-direction: column;
}

.cardenemy-popup {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    z-index: 1000;
    display: flex;
    gap: 1em;

    .cardenemy-assgin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    button{
        border: none;
        outline: none;
        background: #662b9a;
        color: white;
        width: 5em;
        height: 2em;
        border-radius: .5em;
    }

    .close-popup {
        width: 10px;
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #000;
    }

    img {
        border: #662b9a solid;
        background-color: #fff;
        width: 5em;
        height: 5em;
        border-radius: 50%;
    }
}