/* button.module.css */

.btn {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    font-size: 32px;
}

.btnPrimary {
    background-color: var(--clr_yellow);
    color: white;
}

.btnSecondary {
    background-color: var(--clr_purple);
    color: white;
}

.btnDanger {
    background-color: var(--clr_red);
    color: white;
}

.btnRounded {
    border-radius: 12px;
}

.btnSmall {
    /* padding: 5px 10px;
    font-size: 12px; */
    width: 151px;
    height: 69px;
    border-radius: 10px;
}

@media screen and (max-width: 431px) {
    .btnSmall {
        width: 130px;
        height: 40px;
    }
}

.btnMedium {
    /* padding: 10px 20px;
    font-size: 14px; */
    width: 273px;
    height: 69px;
    border-radius: 10px;
}

.btnLarge {
    /* padding: 15px 30px;
    font-size: 16px; */
    width: 567px;
    height: 70.01px;
    border-radius: 15px;
}
