.clone-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;

    .buttons-container {
        width: 90%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .back-button {
            cursor: pointer;
            color: #fff;
            height: 3em;
            width: 8em;
            background-color: #fc5776;
            border-radius: 8px;
            padding: 0.5em 1em;
            border: none;
            border-top: 4px solid #fff;
            box-shadow: 0 6px 12px rgba(252, 87, 118, 0.4), 0 3px 6px rgba(0, 0, 0, 0.1);
        }

        .clone-button {
            background-color: #ffaf40;
            height: 3em;
            width: 8em;
            box-shadow: var(--shadow-burst);
            border: none;
            border-radius: 5px;
            border-top: 2px solid #fff;
            color: #fff;
            cursor: pointer;
        }
    }
}

.clone-container {
    width: 70%;
    height: 80%;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: var(--shadow-burst);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1em;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
}
