.cardmode-container {
    height: 100%;
    width: 100%;
}

.cardmode-card {
    height: 20em;
    width: 13em;
    border: 1px solid #666666;
    border-radius: 25px;

    box-shadow: var(--shadow-gray);

    display: flex;
    flex-direction: column;
}

.cardmode-banner {
    display: flex;
    min-height: 40%;
    max-height: 40%;

    align-items: center;
    position: relative;

    img {
        width: 100%;
        bottom: 0;
        position: absolute;
    }
}
