.studentassessment-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .studentassessment-container {
        height: 90%;
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .studentassessment-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .button-back[type="button"] {
            cursor: pointer;
            color: #fff;
            height: 3em;
            width: 10em;
            background-color: #fc5776;
            border-radius: 8px;
            padding: 0.5em 1em;
            border: none;
            border-top: 4px solid #fff;
            box-shadow: 0 6px 12px rgba(252, 87, 118, 0.4),
                0 3px 6px rgba(0, 0, 0, 0.1);
        }

        .button-next[type="button"] {
            background-color: #ffaf40;
            height: 3em;
            width: 6em;
            box-shadow: var(--shadow-burst);
            border: none;
            border-radius: 5px;
            border-top: 2px solid #fff;
            color: #fff;
            cursor: pointer;
        }

        h1 {
            position: absolute;
            top: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .cardtab {
            width: 80%;
            height: 90%;
            align-self: center;
            display: flex;
        }
    }
}

.studentassessment-content {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;

    .studentassessment-details {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 40%;
        height: 100%;
        border-radius: 10px;
        color: #fff;
        overflow-y: scroll;

        .studentassessment-data {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 1.5em;
            height: 100%;
            background-color: var(--clr-violet_glass);
            width: 100%;
            border-radius: 10px;
            color: #fff;
        }
    }

    .studentassessment-graph {
        border: 2px solid black;
        width: 60%;
        height: 100%;
    }
}
