*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lilita One";
    font-weight: 100;
}

:root {
    --clr-violet: #662b9a;
    --clr-violet_dark: #491f7a;
    --clr-violet_glass: #bda4d4;

    --clr-gray: #c1c1c1;
    --clr-gray_dark: #666666;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "Lilita One";
    src: url("/assets/font/LilitaOne-Regular.ttf") format("truetype");
}
