.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 254, 254, 0.826);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
    box-sizing: border-box;
}
.lds-spinner {
    color: white; /* Set spinner color to white for visibility against dark background */
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader__balls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.loader__balls__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100px;
    width: 40px;
}
.ball {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: absolute;
    transform-origin: bottom;
}

/* ANIMATION BALL 1*/
.loader__balls__group :nth-child(1) {
    background-color: #99e2d0;
    animation-name: jumpinBallAnimation1;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
@keyframes jumpinBallAnimation1 {
    0% {
        transform: translateY(0) scale(1, 1);
    }
    10% {
        transform: translateY(0) scale(1.3, 0.8);
    }
    11% {
        transform: translateY(0) scale(0.7, 1.2);
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
    39% {
        transform: translateY(-75px) scale(1);
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
    40% {
        transform: translateY(-75px) scale(1);
    }
    41% {
        transform: translateY(-75px) scale(1);
        animation-timing-function: cubic-bezier(1, 0, 1, 0);
    }
    69% {
        transform: translateY(0px) scale(1, 1);
        animation-timing-function: cubic-bezier(1, 0, 1, 0);
    }
    70% {
        transform: translateY(0) scale(1.5, 0.4);
    }
    80% {
        transform: translateY(0) scale(0.8, 1.2);
    }
    90% {
        transform: translateY(0) scale(1.1, 0.8);
    }
    100% {
        transform: translateY(0) scale(1, 1);
    }
}

/* ANIMATION BALL 2*/
.loader__balls__group :nth-child(2) {
    background-color: #ff79da;
    animation-name: jumpinBallAnimation2;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
@keyframes jumpinBallAnimation2 {
    0% {
        transform: translateY(0) scale(1, 1);
    }
    10% {
        transform: translateY(0) scale(1.3, 0.8);
    }
    11% {
        transform: translateY(0) scale(0.7, 1.2);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    39% {
        transform: translateY(-75px) scale(1);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    40% {
        transform: translateY(-75px) scale(1);
    }
    41% {
        transform: translateY(-75px) scale(1);
        animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
    }
    69% {
        transform: translateY(0px) scale(1, 1);
        animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
    }
    70% {
        transform: translateY(0) scale(1.5, 0.4);
    }
    80% {
        transform: translateY(0) scale(0.8, 1.2);
    }
    90% {
        transform: translateY(0) scale(1.1, 0.8);
    }
    100% {
        transform: translateY(0) scale(1, 1);
    }
}

/* ANIMATION BALL 3*/
.loader__balls__group :nth-child(3) {
    background-color: #9356dc;
    animation-name: jumpinBallAnimation3;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
@keyframes jumpinBallAnimation3 {
    0% {
        transform: translateY(0) scale(1, 1);
    }
    10% {
        transform: translateY(0) scale(1.3, 0.8);
    }
    11% {
        transform: translateY(0) scale(0.7, 1.2);
        animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    39% {
        transform: translateY(-75px) scale(1);
        animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    40% {
        transform: translateY(-75px) scale(1);
    }
    41% {
        transform: translateY(-75px) scale(1);
        animation-timing-function: cubic-bezier(1, 0, 1, 1);
    }
    69% {
        transform: translateY(0px) scale(1, 1);
        animation-timing-function: cubic-bezier(1, 0, 1, 1);
    }
    70% {
        transform: translateY(0) scale(1.5, 0.4);
    }
    80% {
        transform: translateY(0) scale(0.8, 1.2);
    }
    90% {
        transform: translateY(0) scale(1.1, 0.8);
    }
    100% {
        transform: translateY(0) scale(1, 1);
    }
}
.loader__balls__group .item1 {
    animation-delay: 0ms;
}
.loader__balls__group .item2 {
    animation-delay: 100ms;
}
.loader__balls__group .item3 {
    animation-delay: 200ms;
}
