.dashboard-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-cardmode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    width: 100%;
}

@media (max-width: 430px) {
    .dashboard-cardmode {
        flex-direction: column;
    }
}

.dashboard-cardarchive {
    width: 60%;
    height: 100px;
    background-color: aqua;
}

.cardmode-simulation {
    img {
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}
