.carddetails-card {
    &.default {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5em 0;
        align-items: center;
        text-align: center;
        flex-grow: 1.5;
        gap: 0.5em;

        h1 {
            font-size: 1.5em;
        }

        span {
            font-size: 0.8em;
        }
    }

    &.alternate {
        align-self: flex-start;
        h1 {
            font-size: 2em;
        }

        span {
            font-size: 1em;
        }
    }

    @media (max-width: 430px) {
        &.default {
            padding: 0;
            gap: 0;
            align-items: start;
            text-align: start;
        }
    }

    @media (max-width: 750px) {
        &.alternate {
            align-self: flex-start;
            h1 {
                font-size: 1em;
            }
            span {
                font-size: 0.7em;
            }
        }
    }
}
