.joinroom-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.joinroom-container {
    width: 50%;
    height: 65%;
    border: 1px solid #5e5e5e;
    border-radius: 40px;
    background-color: #fff;
    display: flex;
    position: relative;
    align-items: center;
}

.joinroom-card {
    width: 70%;
    height: 80%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    gap: 2em;
    top: 0;

    position: absolute;
    z-index: 1;

    form {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        gap: 1em;

        .joinroom-inputgroup {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        h1 {
            margin-bottom: 10%;
            font-size: 3.5em;
        }

        input {
            margin-bottom: 20%;
            padding: 0.5em;
        }

        button {
            border: none;
            height: 3.5em;
            border-radius: 10px;
            cursor: pointer;
        }
        button[type="submit"] {
            background-color: #ffaf40;
            color: #fff;
        }
        button[type="button"] {
            background-color: #f0f0f5;
            color: #fc5776;
            border: 3px solid #fc5776;
        }
    }
}

.joincard-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    img {
        width: 60%;
        position: absolute;
        bottom: 0;
        right: 5em;
    }
}
.success-modal {
    .modal-content {
        background-color: #e0f7fa;
        border: 1px solid #26a69a;
    }

    .modal-header {
        h2 {
            color: #00695c;
        }
    }

    .modal-footer {
        .button-wrapper {
            button {
                background-color: #26a69a;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #00796b;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .joinroom-card {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .joincard-banner {
        img {
            z-index: -1;
            height: 100%;
            right: 0;
            width: auto;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 1000px) {
    .joinroom-wrapper {
        .joinroom-container {
            width: 80%;
        }
    }
}
