.carduser-card {
    background-color: var(--clr-violet_glass);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.carduser-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    position: relative;

    overflow: hidden;

    padding-left: 0.5em;

    .carduser-ranking {
        width: 200px;
        height: 30px;
        top: 10px;
        left: -80px;
        transform: rotate(-45deg);
        background: rgba(82, 204, 40, 0.8);
        border: 5px #00a441 solid;
        position: absolute;
        opacity: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
    }
}

.banner-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    .banner {
        display: flex;
        background-color: #000;
        border-radius: 5px;
        height: 6em;
        margin: 0.5em;
        aspect-ratio: 1/1;

        img {
            width: 100%;
        }
    }

    .details {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        h1 {
            font-size: 1.5em;
        }
        span {
            font-size: 1em;
        }
    }
}

.user-info {
    background-color: #491f7a;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    h1 {
        color: #fff;
        font-size: 1.5em;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f99417;
        font-size: 2em;
    }
}
