.cardinfo-card {
    &.alternate {
        background-color: #662b9a;
        height: 100%;
        width: 100%;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
        align-items: center;

        h1 {
            color: #fff;
            font-size: 1.5em;
        }

        span {
            font-size: 2em;
        }

        &.glow span {
            text-shadow: var(--glow-yellow);
            color: #ffcd6c;
        }

        &:not(.glow) span {
            color: #f99417;
        }
    }

    &.default {
        background-color: var(--clr-violet);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 1em;

        h1 {
            color: #fff;
            font-size: 1.5em;
        }

        span {
            color: #ffcd6c;
            text-shadow: var(--glow-yellow);
            font-size: 2em;
        }
    }

    @media (max-width: 430px) {
        &.default {
            height: 4em;
            width: 100%;
            left: 0;
            bottom: 1em;
            position: absolute;
            display: flex;
            flex-direction: row;
        }
    }

    @media (max-width: 705px) {
        &.alternate {
            h1 {
                color: #fff;
                font-size: 1em;
            }

            span {
                font-size: 1.5em;
            }
        }
    }
}
