.cardachievement-card {
    max-height: 28em;

    min-width: 15em;
    max-width: 15em;

    border: 1px solid #666666;
    border-radius: 25px;

    background-color: #ffda93;
    box-shadow: var(--shadow-burst);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    &.gray-scale {
        filter: grayscale(100%);
        opacity: 0.5;
        pointer-events: none; // Disable interaction if not owned (optional)
    }
}

.cardachievement-container {
    height: 22em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    background-color: #593796;
    border-radius: 15px;

    .banner-container {
        background-color: #beb6ed;
        height: 50%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 0.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.equip-banner {
    width: 255px;
    height: 55px;
    top: 30px;
    right: -70px;
    transform: rotate(45deg);
    background: #52cc28;
    border: 5px #00a441 solid;
    position: absolute;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.cardachievement-cardinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50%;
    gap: 1rem;

    .badge-name {
        color: #ffc658;
    }

    .line-separate {
        width: 90%;
        height: 1px;
        background-color: #4a2053;
    }

    .badge-description {
        color: white;
    }
}
