.shop-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-container {
    height: 90%;
    width: 100%;
    gap: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}